In [5]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.random.randn(4,3),
             columns=['b','d','e'],
             index=['台北','台中','台南','高雄'])
df1

           b         d         e
台北  2.270376 -0.818876  0.427567
台中  0.123595 -0.291855 -0.066368
台南 -0.629764 -0.251811  1.555415
高雄 -1.772600 -0.006731 -0.701156

In [6]:
np.abs(df1)

           b         d         e
台北  2.270376  0.818876  0.427567
台中  0.123595  0.291855  0.066368
台南  0.629764  0.251811  1.555415
高雄  1.772600  0.006731  0.701156