In [5]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.random.randn(4,3),
             columns=['b','d','e'],
             index=['台北','台中','台南','高雄'])
df1

           b         d         e
台北  2.270376 -0.818876  0.427567
台中  0.123595 -0.291855 -0.066368
台南 -0.629764 -0.251811  1.555415
高雄 -1.772600 -0.006731 -0.701156

In [6]:
#numpy的function
np.abs(df1)

           b         d         e
台北  2.270376  0.818876  0.427567
台中  0.123595  0.291855  0.066368
台南  0.629764  0.251811  1.555415
高雄  1.772600  0.006731  0.701156

In [8]:
#使用實體方法
df1.abs()

           b         d         e
台北  2.270376  0.818876  0.427567
台中  0.123595  0.291855  0.066368
台南  0.629764  0.251811  1.555415
高雄  1.772600  0.006731  0.701156

In [15]:
from pandas import Series
def fun1(value:Series) -> float:
    return value.max() - value.min()
    
df1[['b']].apply(fun1)

b    4.042976
dtype: float64

In [17]:
df1.apply(fun1)

b    4.042976
d    0.812146
e    2.256572
dtype: float64

In [18]:
df1.apply(fun1,axis=1)

台北    3.089252
台中    0.415450
台南    2.185179
高雄    1.765869
dtype: float64

In [19]:
df1

           b         d         e
台北  2.270376 -0.818876  0.427567
台中  0.123595 -0.291855 -0.066368
台南 -0.629764 -0.251811  1.555415
高雄 -1.772600 -0.006731 -0.701156

In [20]:
def fun2(value:Series)->Series:
    return pd.Series([value.max(),value.min()],index=['最大','最小'])

df1.apply(fun2)

           b         d         e
最大  2.270376 -0.006731  1.555415
最小 -1.772600 -0.818876 -0.701156

In [21]:
df1.apply(fun2,axis=1)

          最大        最小
台北  2.270376 -0.818876
台中  0.123595 -0.291855
台南  1.555415 -0.629764
高雄 -0.006731 -1.772600