In [2]:
import pandas as pd

student = pd.DataFrame(data=[
    {'姓名':'徐國堂','國文':87,'英文':92,'數學':86},
    {'姓名':'王國堂','國文':92,'英文':80,'數學':90},
    {'姓名':'張國堂','國文':76,'英文':83,'數學':65}
])

student

    姓名  國文  英文  數學
0  徐國堂  87  92  86
1  王國堂  92  80  90
2  張國堂  76  83  65

In [3]:
import requests
#下載csv檔
csv_url = 'https://data.moenv.gov.tw/api/v2/aqx_p_488?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=datacreationdate desc&format=CSV'
res = requests.get(url=csv_url)
if res.ok:
    print("下載成功")
else:
    print("下載失敗")

下載成功

In [4]:
import io
import csv
csv_str:str = res.text
csv_file = io.StringIO(csv_str)
dict_reader = csv.DictReader(csv_file)
csv_data = list(dict_reader)

In [9]:
from pydantic import BaseModel,Field,field_serializer,RootModel
from datetime import datetime

class Site(BaseModel):
    站點名稱:str = Field(alias='sitename')
    城鎮:str = Field(alias='county')
    aqi:int
    狀態:str = Field(alias='status')
    日期:datetime = Field(alias='datacreationdate')

    @field_serializer("日期")
    def serialize_str(self,value):
        return value.strftime('%a %d %b %Y, %I:%M%p')

class Csvroot(RootModel):
    root:list[Site]

    def __iter__(self):
        return iter(self.root)

    def __getitem__(self, item):
        return self.root[item]

In [ ]:
csv_root = Csvroot.model_validate(csv_data)
csv_root.model_dump()

In [11]:
import pandas as pd
from pandas import DataFrame
aqi:DataFrame = DataFrame(data=csv_root.model_dump())
aqi

       站點名稱   城鎮  aqi  狀態                        日期
0    屏東(枋山)  屏東縣   50  良好  Sun 17 Mar 2024, 03:00PM
1    新北(樹林)  新北市   91  普通  Sun 17 Mar 2024, 03:00PM
2    屏東(琉球)  屏東縣   97  普通  Sun 17 Mar 2024, 03:00PM
3    臺南(麻豆)  臺南市   78  普通  Sun 17 Mar 2024, 03:00PM
4    高雄(湖內)  高雄市   60  普通  Sun 17 Mar 2024, 03:00PM
..      ...  ...  ...  ..                       ...
995      萬華  臺北市   87  普通  Sun 17 Mar 2024, 04:00AM
996      中山  臺北市   79  普通  Sun 17 Mar 2024, 04:00AM
997      士林  臺北市   77  普通  Sun 17 Mar 2024, 04:00AM
998      淡水  新北市   82  普通  Sun 17 Mar 2024, 04:00AM
999      林口  新北市   97  普通  Sun 17 Mar 2024, 04:00AM

[1000 rows x 5 columns]