## 資料的組合
- pandas.merge()
- pandas.concat()

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1':range(7)})

df2 = pd.DataFrame({'key':['a', 'b', 'd'],
                   'data2':range(3)})

display(df1)
display(df2)

In [ ]:
pd.merge(df1,df2)

In [ ]:
pd.merge(df1,df2,how='left')

In [ ]:
import os
file_names:list[str] = os.listdir('data')
abs_paths:list[str] = []
for name in file_names:
    if '每日各站' in name :
        print(os.path.abspath(f'data/{name}'))
        abs_paths.append(os.path.abspath(f'data/{name}'))

In [ ]:
for path in abs_paths:
    dataFrame = pd.read_csv(path)

In [ ]:
dataFrame_list = [pd.read_csv(path) for path in abs_paths]
df1 = pd.concat(dataFrame_list)
df1.info()
df1

In [ ]:
import requests
from requests import Response
path = 'https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/0518b833e8964d53bfea3f7691aea0ee'

response:Response = requests.get(path)
df2 = pd.DataFrame(response.json())

In [ ]:

df2['stationCode'] = df2['stationCode'].astype(int)
df2.info()

df3 = pd.merge(df1,df2,how='left',left_on='staCode',right_on='stationCode')
df3

In [ ]:
df3.info()
df4 = df3.reindex(columns=['trnOpDate','name','gateInComingCnt','gateOutGoingCnt'])
df4.columns = ['日期','站名','進站','出站']
df4

In [ ]:
df4.info()
df4['日期'] = pd.to_datetime(df4['日期'].astype(str))

In [ ]:
df4.info()
df5 = df4.sort_values(by=['日期'])
df5

In [47]:
df6 = df5.set_index('日期')
df6

             站名     進站     出站
日期
2019-04-23   五權   1312   1357
2019-04-23   潭子   2373   2284
2019-04-23  頭家厝    455    476
2019-04-23   松竹   1052   1032
2019-04-23   太原   3106   3079
...         ...    ...    ...
2023-12-31   成功   1229   3101
2023-12-31   彰化  19617  16699
2023-12-31   花壇   1864   1532
2023-12-31   潭子   3517   3091
2023-12-31   景美     26     11

[406761 rows x 3 columns]

In [50]:
df6.loc['2021']

             站名     進站     出站
日期
2021-01-01   枋山      0      2
2021-01-01   瀧溪     15     36
2021-01-01   大武    204    250
2021-01-01   加祿    251      2
2021-01-01   路竹   1514   1653
...         ...    ...    ...
2021-12-31   彰化  17373  17104
2021-12-31   栗林    897    772
2021-12-31  海科館     87    104
2021-12-31   暖暖    383    389
2021-12-31  四腳亭    534    481

[86539 rows x 3 columns]