In [1]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.324214
   2   -0.732217
   3    1.711990
b  1    0.546507
   2   -1.676056
c  3    0.698364
   1    0.641316
d  2    0.349872
   3    0.569058
dtype: float64

In [3]:
data[['a','c']]

a  1   -0.324214
   2   -0.732217
   3    1.711990
c  3    0.698364
   1    0.641316
dtype: float64

In [4]:
data['a':'c']

a  1   -0.324214
   2   -0.732217
   3    1.711990
b  1    0.546507
   2   -1.676056
c  3    0.698364
   1    0.641316
dtype: float64

In [6]:
display(data)
data.unstack()

a  1   -0.324214
   2   -0.732217
   3    1.711990
b  1    0.546507
   2   -1.676056
c  3    0.698364
   1    0.641316
d  2    0.349872
   3    0.569058
dtype: float64

          1         2         3
a -0.324214 -0.732217  1.711990
b  0.546507 -1.676056       NaN
c  0.641316       NaN  0.698364
d       NaN  0.349872  0.569058