## 資料的組合
- pandas.merge()
- pandas.concat()

In [1]:
import pandas as pd
df1 = pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1':range(7)})

df2 = pd.DataFrame({'key':['a', 'b', 'd'],
                   'data2':range(3)})

display(df1)
display(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

  key  data2
0   a      0
1   b      1
2   d      2

In [2]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   a      2      0
3   a      4      0
4   a      5      0
5   b      6      1

In [3]:
pd.merge(df1,df2,how='left')

  key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0

In [10]:
import os
file_names:list[str] = os.listdir('data')
abs_paths:list[str] = []
for name in file_names:
    if '每日各站' in name :
        print(os.path.abspath(f'data/{name}'))
        abs_paths.append(os.path.abspath(f'data/{name}'))

/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2022.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數20190423-20191231.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2020.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2023.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2021.csv

In [11]:
for path in abs_paths:
    print(path)

/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2022.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數20190423-20191231.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2020.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2023.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2021.csv