## 資料的組合
- pandas.merge()
- pandas.concat()

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1':range(7)})

df2 = pd.DataFrame({'key':['a', 'b', 'd'],
                   'data2':range(3)})

display(df1)
display(df2)

In [ ]:
pd.merge(df1,df2)

In [ ]:
pd.merge(df1,df2,how='left')

In [ ]:
import os
file_names:list[str] = os.listdir('data')
abs_paths:list[str] = []
for name in file_names:
    if '每日各站' in name :
        print(os.path.abspath(f'data/{name}'))
        abs_paths.append(os.path.abspath(f'data/{name}'))

In [ ]:
for path in abs_paths:
    dataFrame = pd.read_csv(path)

In [ ]:
dataFrame_list = [pd.read_csv(path) for path in abs_paths]
df1 = pd.concat(dataFrame_list)
df1.info()
df1

In [ ]:
import requests
from requests import Response
path = 'https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/0518b833e8964d53bfea3f7691aea0ee'

response:Response = requests.get(path)
df2 = pd.DataFrame(response.json())

In [ ]:

df2['stationCode'] = df2['stationCode'].astype(int)
df2.info()

df3 = pd.merge(df1,df2,how='left',left_on='staCode',right_on='stationCode')
df3

In [ ]:
df3.info()
df4 = df3.reindex(columns=['trnOpDate','name','gateInComingCnt','gateOutGoingCnt'])
df4.columns = ['日期','站名','進站','出站']
df4

In [ ]:
df4.info()
df4['日期'] = pd.to_datetime(df4['日期'].astype(str))

In [ ]:
df4.info()
df5 = df4.sort_values(by=['日期'])
df5

In [ ]:
df6 = df5.set_index('日期')
df6

In [ ]:
#搜尋
df6.loc['2021'].query('站名=="基隆"')

In [ ]:
df7 = df6.reset_index()
df7

In [60]:
df7.groupby(by=[df7['日期'].dt.year,'站名'])[['進站','出站']].sum()

               進站       出站
日期   站名
2019 七堵   1512951  1560506
     三坑    342775   347841
     三塊厝   105842   111863
     三姓橋   288098   260777
     三民      2435     2994
...           ...      ...
2023 鼓山    165055   168011
     龍井    155439   157385
     龍泉      6263     8246
     龍港      8662     9633
     龜山     29966    29613

[1198 rows x 2 columns]