## 資料的組合
- pandas.merge()
- pandas.concat()

In [1]:
import pandas as pd
df1 = pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1':range(7)})

df2 = pd.DataFrame({'key':['a', 'b', 'd'],
                   'data2':range(3)})

display(df1)
display(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

  key  data2
0   a      0
1   b      1
2   d      2

In [2]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   a      2      0
3   a      4      0
4   a      5      0
5   b      6      1

In [3]:
pd.merge(df1,df2,how='left')

  key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0

In [4]:
import os
file_names:list[str] = os.listdir('data')
abs_paths:list[str] = []
for name in file_names:
    if '每日各站' in name :
        print(os.path.abspath(f'data/{name}'))
        abs_paths.append(os.path.abspath(f'data/{name}'))

/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2022.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數20190423-20191231.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2020.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2023.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2021.csv

In [5]:
for path in abs_paths:
    dataFrame = pd.read_csv(path)

In [6]:
dataFrame_list = [pd.read_csv(path) for path in abs_paths]
df1 = pd.concat(dataFrame_list)
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
Index: 406761 entries, 0 to 86538
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   trnOpDate        406761 non-null  int64
 1   staCode          406761 non-null  int64
 2   gateInComingCnt  406761 non-null  int64
 3   gateOutGoingCnt  406761 non-null  int64
dtypes: int64(4)
memory usage: 15.5 MB

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20220101      900             8645             8526
1       20220101      910              996             1243
2       20220101      920             1369             1711
3       20220101      930             3663             4535
4       20220101      940             1532             1845
...          ...      ...              ...              ...
86534   20211231     7360             4062             4451
86535   20211231     7361               87              104
86536   20211231     7362              341              403
86537   20211231     7380              534              481
86538   20211231     7390              383              389

[406761 rows x 4 columns]

In [7]:
import requests
from requests import Response
path = 'https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/0518b833e8964d53bfea3f7691aea0ee'

response:Response = requests.get(path)
df2 = pd.DataFrame(response.json())

In [18]:

df2['stationCode'] = df2['stationCode'].astype(int)
df2.info()

df3 = pd.merge(df1,df2,how='left',left_on='staCode',right_on='stationCode')
df3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   stationCode    242 non-null    int64
 1   stationName    242 non-null    object
 2   stationEName   242 non-null    object
 3   name           242 non-null    object
 4   ename          242 non-null    object
 5   stationAddrTw  242 non-null    object
 6   stationAddrEn  242 non-null    object
 7   stationTel     242 non-null    object
 8   gps            242 non-null    object
 9   haveBike       242 non-null    object
dtypes: int64(1), object(9)
memory usage: 19.0+ KB

,trnOpDate,staCode,gateInComingCnt,gateOutGoingCnt,stationCode,stationName,stationEName,name,ename,stationAddrTw,stationAddrEn,stationTel,gps,haveBike
0,20220101,900,8645,8526,900.0,基隆,Keelung,基隆,Keelung,基隆市仁愛區港西街5號,"No. 16-1, Zhongshan 1st Rd, Ren`ai Dist., Keel...",02-24263743,25.13411 121.73997,Y
1,20220101,910,996,1243,910.0,三坑,Sankeng,三坑,Sankeng,基隆市仁愛區德厚里龍安街 206 號,"No. 206, Long’an St., Ren`ai Dist., Keelung City",02-24230289,25.12305 121.74202,Y
2,20220101,920,1369,1711,920.0,八堵,Badu,八堵,Badu,基隆市暖暖區八南里八堵路 142 號,"No. 142, Badu Rd., Nuannuan Dist., Keelung City",02-24560841,25.10843 121.72898,Y
3,20220101,930,3663,4535,930.0,七堵,Qidu,七堵,Qidu,基隆市七堵區長興里東新街 2 號,"No. 2, Dongxin St., Qidu Dist., Keelung City",02-24553426,25.09294 121.71415,Y
4,20220101,940,1532,1845,940.0,百福,Baifu,百福,Baifu,基隆市七堵區堵南里明德三路 1 之 1 號,"No. 1-1, Mingde 3rd Rd., Qidu Dist., Keelung City",02-24528372,25.07795 121.69379,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406756,20211231,7360,4062,4451,7360.0,瑞芳,Ruifang,瑞芳,Ruifang,新北市瑞芳區龍潭里明燈路三段 82 號,"No. 82, Sec. 3, Mingdeng Rd., Ruifang Dist., N...",02-24972033,25.10861 121.80596,Y
406757,20211231,7361,87,104,7361.0,海科館,Haikeguan,海科館,Haikeguan,基隆市中正區長潭里,"Changtan Vil., Zhongzheng Dist., Keelung City",02-24972033,25.13754 121.79997,N
406758,20211231,7362,341,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406759,20211231,7380,534,481,7380.0,四腳亭,Sijiaoting,四腳亭,Sijiaoting,新北市瑞芳區吉慶里中央路 65 號,"No. 65, Zhongyang Rd., Ruifang Dist., New Taip...",02-24579346,25.10283 121.76192,N
406760,20211231,7390,383,389,7390.0,暖暖,Nuannuan,暖暖,Nuannuan,基隆市暖暖區暖暖里暖暖街 51 號,"No. 66, Nuannuan St., Nuannuan Dist., Keelung ...",02-24972033,25.10224 121.74048,N

In [19]:
df3.info()
df4 = df3.reindex(columns=['trnOpDate','name','gateInComingCnt','gateOutGoingCnt'])
df4.columns = ['日期','站名','進站','出站']
df4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   trnOpDate        406761 non-null  int64
 1   staCode          406761 non-null  int64
 2   gateInComingCnt  406761 non-null  int64
 3   gateOutGoingCnt  406761 non-null  int64
 4   stationCode      405059 non-null  float64
 5   stationName      405059 non-null  object
 6   stationEName     405059 non-null  object
 7   name             405059 non-null  object
 8   ename            405059 non-null  object
 9   stationAddrTw    405059 non-null  object
 10  stationAddrEn    405059 non-null  object
 11  stationTel       405059 non-null  object
 12  gps              405059 non-null  object
 13  haveBike         405059 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 43.4+ MB

              日期   站名    進站    出站
0       20220101   基隆  8645  8526
1       20220101   三坑   996  1243
2       20220101   八堵  1369  1711
3       20220101   七堵  3663  4535
4       20220101   百福  1532  1845
...          ...  ...   ...   ...
406756  20211231   瑞芳  4062  4451
406757  20211231  海科館    87   104
406758  20211231  NaN   341   403
406759  20211231  四腳亭   534   481
406760  20211231   暖暖   383   389

[406761 rows x 4 columns]

In [20]:
df4.info()
df4['日期'] = pd.to_datetime(df4['日期'].astype(str))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      406761 non-null  int64
 1   站名      405059 non-null  object
 2   進站      406761 non-null  int64
 3   出站      406761 non-null  int64
dtypes: int64(3), object(1)
memory usage: 12.4+ MB

In [21]:
df4.info()
df5 = df4.sort_values(by=['日期'])
df5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      406761 non-null  datetime64[ns]
 1   站名      405059 non-null  object
 2   進站      406761 non-null  int64
 3   出站      406761 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 12.4+ MB

               日期   站名     進站     出站
86631  2019-04-23   五權   1312   1357
86625  2019-04-23   潭子   2373   2284
86626  2019-04-23  頭家厝    455    476
86627  2019-04-23   松竹   1052   1032
86628  2019-04-23   太原   3106   3079
...           ...  ...    ...    ...
320067 2023-12-31   成功   1229   3101
320068 2023-12-31   彰化  19617  16699
320069 2023-12-31   花壇   1864   1532
320057 2023-12-31   潭子   3517   3091
320179 2023-12-31   景美     26     11

[406761 rows x 4 columns]

In [22]:
df6 = df5.set_index('日期')
df6

             站名     進站     出站
日期
2019-04-23   五權   1312   1357
2019-04-23   潭子   2373   2284
2019-04-23  頭家厝    455    476
2019-04-23   松竹   1052   1032
2019-04-23   太原   3106   3079
...         ...    ...    ...
2023-12-31   成功   1229   3101
2023-12-31   彰化  19617  16699
2023-12-31   花壇   1864   1532
2023-12-31   潭子   3517   3091
2023-12-31   景美     26     11

[406761 rows x 3 columns]

In [13]:
#搜尋
df6.loc['2021'].query('站名=="基隆"')

            站名    進站    出站
日期
2021-01-01  基隆  7223  7425
2021-01-02  基隆  6606  6240
2021-01-03  基隆  6656  6477
2021-01-04  基隆  6700  6396
2021-01-05  基隆  6354  5962
...         ..   ...   ...
2021-12-27  基隆  5770  6060
2021-12-28  基隆  6302  6358
2021-12-29  基隆  6823  6637
2021-12-30  基隆  8413  7429
2021-12-31  基隆  8901  8636

[365 rows x 3 columns]

In [14]:
df7 = df6.reset_index()
df7

               日期   站名     進站     出站
0      2019-04-23   五權   1312   1357
1      2019-04-23   潭子   2373   2284
2      2019-04-23  頭家厝    455    476
3      2019-04-23   松竹   1052   1032
4      2019-04-23   太原   3106   3079
...           ...  ...    ...    ...
406756 2023-12-31   成功   1229   3101
406757 2023-12-31   彰化  19617  16699
406758 2023-12-31   花壇   1864   1532
406759 2023-12-31   潭子   3517   3091
406760 2023-12-31   景美     26     11

[406761 rows x 4 columns]

In [15]:
df8 = df7.groupby(by=[df7['日期'].dt.year,'站名'])[['進站','出站']].sum()

In [16]:
df8.columns.name = '進出'

In [17]:
s1 = df8.stack().unstack(['日期','進出'])
s1

日期        2019                  2020                  2021             \
進出          進站         出站         進站         出站         進站         出站
站名
七堵   1512951.0  1560506.0  2023475.0  2055442.0  1619233.0  1594220.0
三坑    342775.0   347841.0   457042.0   466250.0   372260.0   383427.0
三塊厝   105842.0   111863.0   147363.0   160297.0   149138.0   155794.0
三姓橋   288098.0   260777.0   386310.0   345666.0   307925.0   276783.0
三民      2435.0     2994.0     2748.0     4164.0     2236.0     3699.0
..         ...        ...        ...        ...        ...        ...
鼓山     50962.0    52786.0    72794.0    75636.0    73043.0    72945.0
龍井    100128.0    97880.0   129583.0   126229.0   106212.0   103974.0
龍泉      4115.0     4960.0     5827.0     6710.0     4542.0     4841.0
龍港      4413.0     5417.0     5581.0     7490.0     5394.0     7578.0
龜山     26408.0    25265.0    33665.0    32326.0    23193.0    22534.0

日期        2022                  2023
進出          進站         出站         進站         出站
站名
七堵   1764417.0  1776557.0  2124487.0  2128604.0
三坑    411286.0   422225.0   497154.0   521151.0
三塊厝   173337.0   178429.0   210431.0   217998.0
三姓橋   345589.0   312076.0   432838.0   399207.0
三民      1985.0     3535.0     3131.0     4260.0
..         ...        ...        ...        ...
鼓山    107560.0   106773.0   165055.0   168011.0
龍井    105324.0   104254.0   155439.0   157385.0
龍泉      4218.0     6038.0     6263.0     8246.0
龍港      6096.0     8217.0     8662.0     9633.0
龜山     27966.0    24766.0    29966.0    29613.0

[240 rows x 10 columns]

In [23]:
df6.to_csv('台鐵進站出站人數.csv')