## 資料的組合
- pandas.merge()
- pandas.concat()

In [1]:
import pandas as pd
df1 = pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1':range(7)})

df2 = pd.DataFrame({'key':['a', 'b', 'd'],
                   'data2':range(3)})

display(df1)
display(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

  key  data2
0   a      0
1   b      1
2   d      2

In [2]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   a      2      0
3   a      4      0
4   a      5      0
5   b      6      1

In [3]:
pd.merge(df1,df2,how='left')

  key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0

In [10]:
import os
file_names:list[str] = os.listdir('data')
abs_paths:list[str] = []
for name in file_names:
    if '每日各站' in name :
        print(os.path.abspath(f'data/{name}'))
        abs_paths.append(os.path.abspath(f'data/{name}'))

/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2022.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數20190423-20191231.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2020.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2023.csv
/workspaces/__2024_01_28_sunday__/lesson20/data/每日各站進出站人數2021.csv

In [12]:
for path in abs_paths:
    dataFrame = pd.read_csv(path)

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20220101      900             8645             8526
1       20220101      910              996             1243
2       20220101      920             1369             1711
3       20220101      930             3663             4535
4       20220101      940             1532             1845
...          ...      ...              ...              ...
86547   20221231     7360             3984             3893
86548   20221231     7361               92              115
86549   20221231     7362              131              159
86550   20221231     7380              494              426
86551   20221231     7390              313              274

[86552 rows x 4 columns]

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20190423      900             8442             7743
1       20190423      910             1394             1348
2       20190423      920             2770             2423
3       20190423      930             6113             6335
4       20190423      940             2680             2726
...          ...      ...              ...              ...
60124   20191231     7360             5779             5782
60125   20191231     7361              146              142
60126   20191231     7362              116              134
60127   20191231     7380              654              585
60128   20191231     7390              448              396

[60129 rows x 4 columns]

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20200101      900             7552             8154
1       20200101      910             1020             1135
2       20200101      920             1623             1972
3       20200101      930             4130             4813
4       20200101      940             1818             2128
...          ...      ...              ...              ...
86927   20201231     7360             3523             3602
86928   20201231     7361                3               18
86929   20201231     7362               28               34
86930   20201231     7380              609              604
86931   20201231     7390              377              444

[86932 rows x 4 columns]

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20230101      900             8030             8241
1       20230101      910             1017             1326
2       20230101      920             1400             1705
3       20230101      930             3558             4398
4       20230101      940             1509             1815
...          ...      ...              ...              ...
86604   20231231     7360             7916             8252
86605   20231231     7361              164              195
86606   20231231     7362              652              720
86607   20231231     7380             1526              656
86608   20231231     7390              576              447

[86609 rows x 4 columns]

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20210101      900             7223             7425
1       20210101      910              972             1100
2       20210101      920             1505             1698
3       20210101      930             4385             4657
4       20210101      940             1785             1967
...          ...      ...              ...              ...
86534   20211231     7360             4062             4451
86535   20211231     7361               87              104
86536   20211231     7362              341              403
86537   20211231     7380              534              481
86538   20211231     7390              383              389

[86539 rows x 4 columns]

In [14]:
dataFrame_list = [pd.read_csv(path) for path in abs_paths]
df1 = pd.concat(dataFrame_list)
df1

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20220101      900             8645             8526
1       20220101      910              996             1243
2       20220101      920             1369             1711
3       20220101      930             3663             4535
4       20220101      940             1532             1845
...          ...      ...              ...              ...
86534   20211231     7360             4062             4451
86535   20211231     7361               87              104
86536   20211231     7362              341              403
86537   20211231     7380              534              481
86538   20211231     7390              383              389

[406761 rows x 4 columns]

In [17]:
import requests
from requests import Response
path = 'https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/0518b833e8964d53bfea3f7691aea0ee'

response:Response = requests.get(path)
df2 = pd.DataFrame(response.json())

In [18]:
df2

    stationCode stationName  ...                 gps haveBike
0          0900          基隆  ...  25.13411 121.73997        Y
1          0910          三坑  ...  25.12305 121.74202        Y
2          0920          八堵  ...  25.10843 121.72898        Y
3          0930          七堵  ...  25.09294 121.71415        Y
4          0940          百福  ...  25.07795 121.69379        N
..          ...         ...  ...                 ...      ...
238        7360          瑞芳  ...  25.10861 121.80596        Y
239        7361         海科館  ...  25.13754 121.79997        N
240        7362         八斗子  ...  25.13545 121.80261        N
241        7380         四腳亭  ...  25.10283 121.76192        N
242        7390          暖暖  ...  25.10224 121.74048        N

[243 rows x 10 columns]