In [1]:
import pandas as pd

series1 = pd.Series([80, 90, 75, 65],index=['chinese', 'english', 'math', 'history'])
series1

chinese    80
english    90
math       75
history    65
dtype: int64

In [2]:
#取出ndArray

series1.values

array([80, 90, 75, 65])

In [5]:
#取出索引(index)
series1.index

Index(['chinese', 'english', 'math', 'history'], dtype='object')

In [6]:
series2 = series1 + 3
series2

chinese    83
english    93
math       78
history    68
dtype: int64

In [9]:
series2
series2['chinese']
#series2[0]

/tmp/ipykernel_678/3235580767.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series2[0]

83

In [10]:
data = {
     '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
     '年份': [2000, 2001, 2002, 2001, 2002, 2003],
     '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
df1

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [11]:
df1['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [12]:
df1['年份']

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

In [13]:
df1['人口']

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64