In [12]:
import pandas as pd

df = pd.read_csv('台鐵進站出站人數.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      406761 non-null  object
 1   站名      405059 non-null  object
 2   進站      406761 non-null  int64
 3   出站      406761 non-null  int64
dtypes: int64(2), object(2)
memory usage: 12.4+ MB

In [14]:
df['日期'] = pd.to_datetime(df['日期'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      406761 non-null  datetime64[ns]
 1   站名      405059 non-null  object
 2   進站      406761 non-null  int64
 3   出站      406761 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 12.4+ MB

In [15]:
df1 = df.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405059 entries, 0 to 406760
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      405059 non-null  datetime64[ns]
 1   站名      405059 non-null  object
 2   進站      405059 non-null  int64
 3   出站      405059 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 15.5+ MB

In [16]:
df1

               日期   站名     進站     出站
0      2019-04-23   五權   1312   1357
1      2019-04-23   潭子   2373   2284
2      2019-04-23  頭家厝    455    476
3      2019-04-23   松竹   1052   1032
4      2019-04-23   太原   3106   3079
...           ...  ...    ...    ...
406756 2023-12-31   成功   1229   3101
406757 2023-12-31   彰化  19617  16699
406758 2023-12-31   花壇   1864   1532
406759 2023-12-31   潭子   3517   3091
406760 2023-12-31   景美     26     11

[405059 rows x 4 columns]

## dataFrame的groupby()

In [19]:
df1.groupby('站名')[['進站','出站']].sum()

          進站       出站
站名
七堵   9044563  9115329
三坑   2080517  2140894
三塊厝   786111   824381
三姓橋  1760760  1594509
三民     12535    18652
..       ...      ...
鼓山    469414   476151
龍井    596686   589722
龍泉     24965    30795
龍港     30146    38335
龜山    141198   134504

[240 rows x 2 columns]

In [23]:
all_datas:dict = dict(list(df1.groupby('站名')))

In [26]:
all_datas['七堵']

               日期  站名    進站    出站
231    2019-04-23  七堵  6113  6335
389    2019-04-24  七堵  6139  6371
629    2019-04-25  七堵  6083  6212
865    2019-04-26  七堵  6635  7042
1103   2019-04-27  七堵  4616  4632
...           ...  ..   ...   ...
405727 2023-12-27  七堵  6980  6970
405963 2023-12-28  七堵  6610  6654
406200 2023-12-29  七堵  7704  7741
406438 2023-12-30  七堵  5747  5674
406675 2023-12-31  七堵  5904  4922

[1714 rows x 4 columns]

In [27]:
for name in ['龍泉','龍港','龜山']:
    print(name)

龍泉
龍港
龜山

In [28]:
{name:all_datas[name] for name in ['龍泉','龍港','龜山']}

{'龍泉':                日期  站名  進站   出站
 164    2019-04-23  龍泉   8   12
 420    2019-04-24  龍泉   8    7
 659    2019-04-25  龍泉  10    8
 896    2019-04-26  龍泉  18   16
 1133   2019-04-27  龍泉  16   28
 ...           ...  ..  ..  ...
 405757 2023-12-27  龍泉  14   23
 405991 2023-12-28  龍泉  11   38
 406230 2023-12-29  龍泉  16   72
 406467 2023-12-30  龍泉  27  256
 406707 2023-12-31  龍泉  41  271

 [1712 rows x 4 columns],
 '龍港':                日期  站名  進站  出站
 38     2019-04-23  龍港  27  22
 376    2019-04-24  龍港  15  18
 616    2019-04-25  龍港  24  25
 852    2019-04-26  龍港  26  27
 1089   2019-04-27  龍港  19  32
 ...           ...  ..  ..  ..
 405712 2023-12-27  龍港  26  22
 405950 2023-12-28  龍港  30  32
 406186 2023-12-29  龍港  34  35
 406425 2023-12-30  龍港  65  51
 406663 2023-12-31  龍港  29  61

 [1713 rows x 4 columns],
 '龜山':                日期  站名   進站   出站
 64     2019-04-23  龜山   77   96
 302    2019-04-24  龜山   96  102
 540    2019-04-25  龜山  182  160
 777    2019-04-26  龜山   98  122
 1015   2019-04-27  龜山   75   72
 ...           ...  ..  ...  ...
 405637 2023-12-27  龜山  141   74
 405873 2023-12-28  龜山   52   48
 406111 2023-12-29  龜山  121  114
 406349 2023-12-30  龜山  226  146
 406548 2023-12-31  龜山  214  159

 [1714 rows x 4 columns]}