In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.323139  1.004086
1    a  two -0.989779 -0.982398
2    b  one -0.962258 -0.917295
3    b  two  0.258658  0.576691
4    a  one -1.321507  2.003661

## Series的groupby()

In [2]:
#Series的groupby()
df['data1']

0    0.323139
1   -0.989779
2   -0.962258
3    0.258658
4   -1.321507
Name: data1, dtype: float64

In [3]:
df['key1']

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

In [5]:
df['data1'].groupby(df['key1']).sum()

key1
a   -1.988147
b   -0.703600
Name: data1, dtype: float64

In [6]:
df['data1'].groupby(df['key1']).mean()

key1
a   -0.662716
b   -0.351800
Name: data1, dtype: float64

## DataFrame的groupby()

In [11]:
df.groupby('key1')['data1'].sum()

key1
a   -1.988147
b   -0.703600
Name: data1, dtype: float64

In [12]:
df.groupby('key1')['data2'].sum()

key1
a    2.025349
b   -0.340604
Name: data2, dtype: float64

In [13]:
df.groupby('key1')[['data1','data2']].sum()

         data1     data2
key1
a    -1.988147  2.025349
b    -0.703600 -0.340604