In [21]:
import os
import pandas as pd

file_names:list[str] = os.listdir('縣市長')
abs_paths:list[str] = []
for name in file_names:    
    if 'xls' in name:
        abs_paths.append(os.path.abspath(f'縣市長/{name}'))

df1 = pd.read_excel(abs_paths[0],header=1,usecols=['行政區別','村里別','各候選人得票情形','Unnamed: 4','Unnamed: 5','Unnamed: 6'])
print(df1.info())
df1.columns = ['行政區別','村里別','林佳瑜','李進勇','王麗萍','張麗善']
df2 = df1.drop(index=[0,1,2])
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   行政區別        577 non-null    object
 1   村里別         557 non-null    object
 2   各候選人得票情形    578 non-null    object
 3   Unnamed: 4  578 non-null    object
 4   Unnamed: 5  578 non-null    object
 5   Unnamed: 6  578 non-null    object
dtypes: object(6)
memory usage: 27.3+ KB
None

     行政區別  村里別  林佳瑜   李進勇  王麗萍    張麗善
3    　麥寮鄉  NaN  340  6429  542  15550
4      　　  麥豐村   12   203   25    578
5      　　  麥豐村   16   251   21    723
6      　　  麥豐村   14   304   33    722
7      　　  麥豐村   10   250   29    767
..    ...  ...  ...   ...  ...    ...
575    　　  華南村    1   100    5     68
576    　　  華山村    4   181   10    284
577    　　  桂林村   14   374   12    391
578    　　  樟湖村    1   163    4    197
579    　　  草嶺村    3   152    4    192

[577 rows x 6 columns]

In [26]:
df2['行政區別'] = '麥寮鄉'
df3 = df2.drop(index=[3])
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 4 to 579
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   行政區別    576 non-null    object
 1   村里別     557 non-null    object
 2   林佳瑜     576 non-null    object
 3   李進勇     576 non-null    object
 4   王麗萍     576 non-null    object
 5   張麗善     576 non-null    object
dtypes: object(6)
memory usage: 27.1+ KB

In [31]:
df4 = df3.astype({'林佳瑜':int,'李進勇':int,'王麗萍':int,'張麗善':int})
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 4 to 579
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   行政區別    576 non-null    object
 1   村里別     557 non-null    object
 2   林佳瑜     576 non-null    int64
 3   李進勇     576 non-null    int64
 4   王麗萍     576 non-null    int64
 5   張麗善     576 non-null    int64
dtypes: int64(4), object(2)
memory usage: 27.1+ KB

In [34]:
df5 = df4.dropna()
df5

    行政區別  村里別  林佳瑜  李進勇  王麗萍  張麗善
4    麥寮鄉  麥豐村   12  203   25  578
5    麥寮鄉  麥豐村   16  251   21  723
6    麥寮鄉  麥豐村   14  304   33  722
7    麥寮鄉  麥豐村   10  250   29  767
8    麥寮鄉  麥津村    9  203   28  543
..   ...  ...  ...  ...  ...  ...
575  麥寮鄉  華南村    1  100    5   68
576  麥寮鄉  華山村    4  181   10  284
577  麥寮鄉  桂林村   14  374   12  391
578  麥寮鄉  樟湖村    1  163    4  197
579  麥寮鄉  草嶺村    3  152    4  192

[557 rows x 6 columns]