In [12]:
import pandas as pd

df = pd.read_csv('台鐵進站出站人數.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      406761 non-null  object
 1   站名      405059 non-null  object
 2   進站      406761 non-null  int64
 3   出站      406761 non-null  int64
dtypes: int64(2), object(2)
memory usage: 12.4+ MB

In [14]:
df['日期'] = pd.to_datetime(df['日期'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      406761 non-null  datetime64[ns]
 1   站名      405059 non-null  object
 2   進站      406761 non-null  int64
 3   出站      406761 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 12.4+ MB

In [15]:
df1 = df.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405059 entries, 0 to 406760
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      405059 non-null  datetime64[ns]
 1   站名      405059 non-null  object
 2   進站      405059 non-null  int64
 3   出站      405059 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 15.5+ MB

In [16]:
df1

               日期   站名     進站     出站
0      2019-04-23   五權   1312   1357
1      2019-04-23   潭子   2373   2284
2      2019-04-23  頭家厝    455    476
3      2019-04-23   松竹   1052   1032
4      2019-04-23   太原   3106   3079
...           ...  ...    ...    ...
406756 2023-12-31   成功   1229   3101
406757 2023-12-31   彰化  19617  16699
406758 2023-12-31   花壇   1864   1532
406759 2023-12-31   潭子   3517   3091
406760 2023-12-31   景美     26     11

[405059 rows x 4 columns]

## dataFrame的groupby()

In [19]:
df1.groupby('站名')[['進站','出站']].sum()

          進站       出站
站名
七堵   9044563  9115329
三坑   2080517  2140894
三塊厝   786111   824381
三姓橋  1760760  1594509
三民     12535    18652
..       ...      ...
鼓山    469414   476151
龍井    596686   589722
龍泉     24965    30795
龍港     30146    38335
龜山    141198   134504

[240 rows x 2 columns]