In [ ]:
import pandas as pd

df1 = pd.read_csv('world.csv')
df1

In [ ]:
df1.info()

In [ ]:
df2 = df1.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
df2

In [ ]:
df2.info()

In [ ]:
from datetime import datetime
df2['日期'] = pd.to_datetime(df2['日期'])
df2.info()

In [10]:
#利用subscript
df2[df2['國家'] == '台灣']

        洲名  國家         日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣 2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣 2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣 2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣 2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣 2020-01-20        0      0  23855008  99999.00
...     ..  ..        ...      ...    ...       ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

## 搜尋query()

In [12]:
taiwan_df = df2.query('國家=="台灣"')
taiwan_df

        洲名  國家         日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣 2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣 2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣 2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣 2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣 2020-01-20        0      0  23855008  99999.00
...     ..  ..        ...      ...    ...       ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [13]:
japan_df = df2.query('國家=="日本"')
japan_df

       洲名  國家         日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本 2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本 2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本 2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本 2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本 2020-01-26        4      2  126050796  99999.0
...    ..  ..        ...      ...    ...        ...      ...
86518  亞洲  日本 2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本 2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本 2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本 2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本 2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [14]:
t_j_df = df2.query('國家=="日本" or 國家=="台灣"')
t_j_df

        洲名  國家         日期     總確診數  新增確診數       總人口數      解封指數
85626   亞洲  日本 2020-01-22        2      0  126050796  99999.00
85627   亞洲  日本 2020-01-23        2      0  126050796  99999.00
85628   亞洲  日本 2020-01-24        2      0  126050796  99999.00
85629   亞洲  日本 2020-01-25        2      0  126050796  99999.00
85630   亞洲  日本 2020-01-26        4      2  126050796  99999.00
...     ..  ..        ...      ...    ...        ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807   23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672   23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115   23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984   23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561   23855008    266.71

[1800 rows x 7 columns]

In [24]:
t_j_df.query('新增確診數 >= 10000')

        洲名  國家         日期     總確診數  新增確診數       總人口數    解封指數
86180   亞洲  日本 2021-07-29   903351  10752  126050796    0.11
86181   亞洲  日本 2021-07-30   914182  10831  126050796    0.12
86182   亞洲  日本 2021-07-31   926604  12422  126050796    0.13
86183   亞洲  日本 2021-08-01   936852  10248  126050796    0.13
86185   亞洲  日本 2021-08-03   957431  12101  126050796    0.15
...     ..  ..        ...      ...    ...        ...     ...
164884  亞洲  台灣 2022-07-02  3837856  34807   23855008  258.17
164885  亞洲  台灣 2022-07-03  3870528  32672   23855008  260.37
164886  亞洲  台灣 2022-07-04  3893643  23115   23855008  261.94
164887  亞洲  台灣 2022-07-05  3929627  35984   23855008  264.37
164888  亞洲  台灣 2022-07-06  3964188  34561   23855008  266.71

[279 rows x 7 columns]

In [25]:
#大於10000的筆數
t_j_df.query('新增確診數 >= 10000 and 國家=="台灣"').count()['國家']

66

In [26]:
#大於10000的筆數
t_j_df.query('新增確診數 >= 10000 and 國家=="日本"').count()['國家']

213