In [ ]:
import pandas as pd

df1 = pd.read_csv('world.csv')
df1

In [ ]:
df1.info()

In [ ]:
df2 = df1.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
df2

In [ ]:
df2.info()

In [ ]:
from datetime import datetime
df2['日期'] = pd.to_datetime(df2['日期'])
df2.info()

In [10]:
#利用subscript
df2[df2['國家'] == '台灣']

        洲名  國家         日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣 2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣 2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣 2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣 2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣 2020-01-20        0      0  23855008  99999.00
...     ..  ..        ...      ...    ...       ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

## 搜尋query()

In [12]:
taiwan_df = df2.query('國家=="台灣"')
taiwan_df

        洲名  國家         日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣 2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣 2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣 2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣 2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣 2020-01-20        0      0  23855008  99999.00
...     ..  ..        ...      ...    ...       ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [13]:
japan_df = df2.query('國家=="日本"')
japan_df

       洲名  國家         日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本 2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本 2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本 2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本 2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本 2020-01-26        4      2  126050796  99999.0
...    ..  ..        ...      ...    ...        ...      ...
86518  亞洲  日本 2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本 2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本 2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本 2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本 2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [14]:
t_j_df = df2.query('國家=="日本" or 國家=="台灣"')
t_j_df

        洲名  國家         日期     總確診數  新增確診數       總人口數      解封指數
85626   亞洲  日本 2020-01-22        2      0  126050796  99999.00
85627   亞洲  日本 2020-01-23        2      0  126050796  99999.00
85628   亞洲  日本 2020-01-24        2      0  126050796  99999.00
85629   亞洲  日本 2020-01-25        2      0  126050796  99999.00
85630   亞洲  日本 2020-01-26        4      2  126050796  99999.00
...     ..  ..        ...      ...    ...        ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807   23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672   23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115   23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984   23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561   23855008    266.71

[1800 rows x 7 columns]

In [24]:
t_j_df.query('新增確診數 >= 10000')

        洲名  國家         日期     總確診數  新增確診數       總人口數    解封指數
86180   亞洲  日本 2021-07-29   903351  10752  126050796    0.11
86181   亞洲  日本 2021-07-30   914182  10831  126050796    0.12
86182   亞洲  日本 2021-07-31   926604  12422  126050796    0.13
86183   亞洲  日本 2021-08-01   936852  10248  126050796    0.13
86185   亞洲  日本 2021-08-03   957431  12101  126050796    0.15
...     ..  ..        ...      ...    ...        ...     ...
164884  亞洲  台灣 2022-07-02  3837856  34807   23855008  258.17
164885  亞洲  台灣 2022-07-03  3870528  32672   23855008  260.37
164886  亞洲  台灣 2022-07-04  3893643  23115   23855008  261.94
164887  亞洲  台灣 2022-07-05  3929627  35984   23855008  264.37
164888  亞洲  台灣 2022-07-06  3964188  34561   23855008  266.71

[279 rows x 7 columns]

In [25]:
#大於10000的筆數
t_j_df.query('新增確診數 >= 10000 and 國家=="台灣"').count()['國家']

66

In [26]:
#大於10000的筆數
t_j_df.query('新增確診數 >= 10000 and 國家=="日本"').count()['國家']

213

In [29]:
#有關於時間的搜尋
t_j_df.query('日期 >= "2021-01-01" and 日期 <= "2021-12-31"')

        洲名  國家         日期    總確診數  新增確診數       總人口數  解封指數
85971   亞洲  日本 2021-01-01  239005   3256  126050796  0.25
85972   亞洲  日本 2021-01-02  242076   3071  126050796  0.25
85973   亞洲  日本 2021-01-03  245242   3166  126050796  0.26
85974   亞洲  日本 2021-01-04  248585   3343  126050796  0.26
85975   亞洲  日本 2021-01-05  253534   4949  126050796  0.27
...     ..  ..        ...     ...    ...        ...   ...
164697  亞洲  台灣 2021-12-27   16931     16   23855008  0.20
164698  亞洲  台灣 2021-12-28   16950     19   23855008  0.20
164699  亞洲  台灣 2021-12-29   16964     14   23855008  0.20
164700  亞洲  台灣 2021-12-30   16988     24   23855008  0.21
164701  亞洲  台灣 2021-12-31   17029     41   23855008  0.21

[730 rows x 7 columns]

In [36]:
#有關於時間的搜尋
t_j_df.query('日期 >= "2021" and 日期 < "2022"')

        洲名  國家         日期    總確診數  新增確診數       總人口數  解封指數
85971   亞洲  日本 2021-01-01  239005   3256  126050796  0.25
85972   亞洲  日本 2021-01-02  242076   3071  126050796  0.25
85973   亞洲  日本 2021-01-03  245242   3166  126050796  0.26
85974   亞洲  日本 2021-01-04  248585   3343  126050796  0.26
85975   亞洲  日本 2021-01-05  253534   4949  126050796  0.27
...     ..  ..        ...     ...    ...        ...   ...
164697  亞洲  台灣 2021-12-27   16931     16   23855008  0.20
164698  亞洲  台灣 2021-12-28   16950     19   23855008  0.20
164699  亞洲  台灣 2021-12-29   16964     14   23855008  0.20
164700  亞洲  台灣 2021-12-30   16988     24   23855008  0.21
164701  亞洲  台灣 2021-12-31   17029     41   23855008  0.21

[730 rows x 7 columns]

In [37]:
t_j_df.query('日期 >= "2021-05" and 日期 < "2022-06"')

        洲名  國家         日期     總確診數  新增確診數       總人口數    解封指數
86091   亞洲  日本 2021-05-01   598754   5983  126050796    0.16
86092   亞洲  日本 2021-05-02   604644   5890  126050796    0.17
86093   亞洲  日本 2021-05-03   609108   4464  126050796    0.17
86094   亞洲  日本 2021-05-04   613298   4190  126050796    0.17
86095   亞洲  日本 2021-05-05   617358   4060  126050796    0.17
...     ..  ..        ...      ...    ...        ...     ...
164848  亞洲  台灣 2022-05-27  1735067  94796   23855008  116.08
164849  亞洲  台灣 2022-05-28  1815703  80636   23855008  121.52
164850  亞洲  台灣 2022-05-29  1892272  76569   23855008  126.69
164851  亞洲  台灣 2022-05-30  1952355  60083   23855008  130.75
164852  亞洲  台灣 2022-05-31  2032983  80628   23855008  136.19

[792 rows x 7 columns]

In [41]:
#台灣最多新增確診的數量
taiwan_df['新增確診數'].max()
#日本最多新增確診的數量
japan_df['新增確診數'].max()

104345

In [45]:
#台灣最多新增確診的前5筆資料
taiwan_df.sort_values(by='新增確診數',ascending=False)[:5]

        洲名  國家         日期     總確診數   新增確診數      總人口數    解封指數
164835  亞洲  台灣 2022-05-14   699824  128954  23855008   46.24
164830  亞洲  台灣 2022-05-09   397504  128935  23855008   25.86
164848  亞洲  台灣 2022-05-27  1735067   94796  23855008  116.08
164840  亞洲  台灣 2022-05-19  1070561   89420  23855008   71.25
164846  亞洲  台灣 2022-05-25  1558380   89361  23855008  104.15

In [46]:
#台灣最多新增確診的前5筆資料
japan_df.sort_values(by='新增確診數',ascending=False)[:5]

       洲名  國家         日期     總確診數   新增確診數       總人口數     解封指數
86369  亞洲  日本 2022-02-03  3019169  104345  126050796  99999.0
86371  亞洲  日本 2022-02-05  3219621  102275  126050796  99999.0
86374  亞洲  日本 2022-02-08  3478462  101084  126050796  99999.0
86376  亞洲  日本 2022-02-10  3675865   99604  126050796  99999.0
86377  亞洲  日本 2022-02-11  3774164   98299  126050796  99999.0